
<!DOCTYPE html>


<html class="no-js"
  lang>


<head>
  <meta charset="utf-8">

  <meta name="description"
    content>

  <meta name="viewport"
    content="width=device-width, initial-scale=1">

  <title>yo webapp</title>
  <link rel="stylesheet"
    href="css/main.css">

</head>

<body>
  <!-- [if lt IE 10]>
             <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
         <![endif] -->

  <div class="container">{{> sample }} hello
  </div>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

  <script>
    (function(b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l;
      b[l] ||
        (b[l] = function() {
          (b[l].q = b[l].q || []).push(arguments);
        });
      b[l].l = +new Date();
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = "https://www.google-analytics.com/analytics.js";
      r.parentNode.insertBefore(e, r);
    })(window, document, "script", "ga");
    ga("create", "UA-XXXXX-X");
    ga("send", "pageview");

  </script>
  <script src="js/main.js" />

</body>
</html>
